/* Default style for the image */
img {
    width: 100%;
    height: 50vh;
  }
  
  /* Media query for screens larger than 768px */
  /* @media screen and (min-width: 768px) {
    img {
      width: 50%;
      height: auto;
    }
  }
   */
  /* Media query for screens larger than 1200px */
  /* @media screen and (min-width: 1200px) {
    img {
      width: 30%;
      height: auto;
    }
  }
   */